AUTH_DB_PASSWORD=postgres
USER_DB_PASSWORD=postgres
PRODUCT_DB_PASSWORD=postgres
ORDER_DB_PASSWORD=postgres
PAYMENT_DB_PASSWORD=postgres

JWT_SECRET_KEY=1234567890qwertyuiopasdfghjklzxcvbnm
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=15
JWT_REFRESH_EXPIRATION_DAYS=7